{% extends 'base.html' %}

{% block content %}
<h3 class="mb-4">{% block title %}Editing Order {{ order["id"] }}{% endblock %}</h3>
<form class="row g-3" method="post">
    <div class="col-md-8">
        <label for="order-status" class="form-label">Status</label>
        <select name="order-status" id="order-status" class="form-select" aria-label="order-status-select">
            {% for status_key in status_enum %}
                {% if order['status'] == status_key %}
                    <option value="{{ status_key }}" selected>{{ status_enum[status_key] }}</option>
                {% else %}
                    <option value="{{ status_key }}">{{ status_enum[status_key] }}</option>
                {% endif %}
            {% endfor %}
        </select>            
    </div>
    <div class="col-md-8">
        <label for="order-date" class="form-label">Order Time</label>
        <select name="order-date" id="order-date" class="form-select" aria-label="order-date-select">
            {% for order_date_key in order_date_enum %}
                {% if order['order_time'] == order_date_key %}
                    <option value="{{ order_date_key }}" selected>{{ order_date_enum[order_date_key] }}</option>
                {% else %}
                    <option value="{{ order_date_key }}">{{ order_date_enum[order_date_key] }}</option>
                {% endif %}
            {% endfor %}
        </select>            
    </div>
    <div class="col-md-8">
        <label for="order-speed" class="form-label">Shipping Speed</label>
        <select name="order-speed" id="order-speed" class="form-select" aria-label="order-speed-select">
            {% for order_speed_key in order_speed_enum %}
                {% if order['shipping_speed'] == order_speed_key %}
                    <option value="{{ order_speed_key }}" selected>{{ order_speed_enum[order_speed_key] }}</option>
                {% else %}
                    <option value="{{ order_speed_key }}">{{ order_speed_enum[order_speed_key] }}</option>
                {% endif %}
            {% endfor %}
        </select>            
    </div>
    <div class="col-md-8">
        <label for="order-courier" class="form-label">Courier Service</label>
        <select name="order-courier" id="order-courier" class="form-select" aria-label="order-courier-select">
            <option value="-1">None</option>
            {% for courier_key in courier_enum %}
                {% if order['courier'] == courier_key %}
                    <option value="{{ courier_key }}" selected>{{ courier_enum[courier_key] }}</option>
                {% else %}
                    <option value="{{ courier_key }}">{{ courier_enum[courier_key] }}</option>
                {% endif %}
            {% endfor %}
        </select>            
    </div>
    <div class="col-md-8">
        <label for="order-track-url" class="form-label">Tracking URL</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div style="border-top-right-radius:0;border-bottom-right-radius:0;" class="input-group-text">www.</div>
            </div>
            {% if order["track_url"] != None %}
                <input class="form-control" name="order-track-url" id="order-track-url" value="{{ order['track_url'] }}">
            {% else %}
                <input class="form-control" name="order-track-url" id="order-track-url">
            {% endif %}
        </div>
    </div>
    <div class="col-md-8 mb-3">
        <label for="order-shipping-costs" class="form-label">Shipping Costs</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div style="border-top-right-radius:0;border-bottom-right-radius:0;" class="input-group-text">$</div>
            </div>
            <input step=".01" type="number" class="form-control" name="order-shipping-costs" id="order-shipping-costs" value="{{ order['shipping_costs'] }}">
        </div>
    </div>
    <hr>
    <div class="col-md-5">
        <button type="submit" name="form-submit" class="w-100 btn btn-primary">
            Save <span class="badge text-bg-dark">admin</span>
        </button>
    </div>
    <div class="col-md-3">
        <a id="new-item-btn" href="{{session['prev_project']}}" class="w-100 btn btn-danger">
            Cancel
        </a>
    </div>

</form>
{% endblock %}