{% extends 'base.html' %}

{% block content %}
<div class="row"><h3 class="mb-4">{% block title %}Creating a New Order{% endblock %}</h3></div>
<form class="row g-3" method="post">
    <div class="col-md-8">
        <label for="vendor" class="form-label">Select the vendor of your part(s)</label>
        <select name="vendor" id="vendor" class="form-select" aria-label="vendor-select">
            {% for vendor in vendors %}
                <option value="{{ vendor }}">{{ vendor }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="vendor-other" class="row g-2"></div>
    <div class="col-md-8">
        <label for="order-date" class="form-label">Order Time</label>
        <select name="order-date" id="order-date" class="form-select" aria-label="order-date-select">
            <option value="0">End of Week</option>
            <option value="1">Immediate</option>
        </select>            
    </div>
    <div class="col-md-8 mb-3">
        <label for="order-speed" class="form-label">Shipping Speed</label>
        <select name="order-speed" id="order-speed" class="form-select" aria-label="order-speed-select">
            <option value="0">Standard Ground</option>
            <option value="1">3-Day</option>
            <option value="2">2-Day</option>
            <option value="3">Overnight</option>
        </select>            
    </div>
    <hr>
    <div id="items" class="row g-2">
        <h4>Order Items</h4>
        <div id="item-1" class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-md-12">
                            <h5>Item #1</h5>
                        </div>
                        <div class="col-md-12">
                            <label for="item-description-1" class="form-label">Description</label>
                            <input class="form-control" name="item-description-1" id="item-description-1" required>
                        </div>
                        <div class="col-md-12 mb-2">
                            <label for="item-number-1" class="form-label">Part Number</label>
                            <input class="form-control" name="item-number-1" id="item-number-1" required>
                        </div>
                        <div class="col-md-12 mb-2">
                            <label for="item-price-1" class="form-label">Price Per Unit</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div style="border-top-right-radius:0;border-bottom-right-radius:0;" class="input-group-text">$</div>
                                </div>
                                <input step="0.01" type="number" class="form-control" name="item-price-1" id="item-price-1" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="item-quantity-1" class="form-label">Quantity</label>
                            <input min="1" step="1" type="number" class="form-control" name="item-quantity-1" id="item-quantity-1" required>
                        </div>
                        <div class="col-md-12 mb-2">
                            <label for="item-justification-1" class="form-label">Justification</label>
                            <textarea class="form-control" name="item-justification-1" id="item-justification-1" required></textarea>
                        </div>
                        <div class="col-md-12 mb-2">
                            <button id="item-1-del-btn" class="mt-0 btn btn-danger" disabled>
                                Delete Item
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 mb-4">
        <a id="new-item-btn" class="btn btn-outline-primary">
            + Add Another Item
        </a>
    </div>
    <hr>
    <div class="col-md-5">
        <button type="submit" name="form-submit" class="w-100 btn btn-primary">
            Create Order
        </button>
    </div>
    <div class="col-md-3">
        <a id="new-item-btn" href="{{url_for('project.index')}}" class="w-100 btn btn-danger">
            Cancel
        </a>
    </div>

</form>
{% endblock %}