{% extends 'base.html' %}

{% block modal %}
<div class="modal fade" id="user-modal" tabindex="-1" aria-labelledby="user-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <form method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="user-modal-label">Adding a New PM</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="user-name" class="form-label">Full Name</label>
                    <input class="mb-3 form-control" name="user-name" id="user-name" required>
                    <label for="email" class="form-label">Bucknell Username</label>
                    <input class="mb-3 form-control" name="email" id="email" required>
                    <label for="project-id" class="form-label">Project</label>
                    <select name="project-id" id="project-id" class="form-select" aria-label="project-select">
                        {% for project in projects %}
                        <option value="{{ project['project_id'] }}">{{ project["project_name"] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="submit" name="type" value="user" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" style="overflow-y:auto !important;" id="admin-modal" tabindex="-1" aria-labelledby="admin-modal-label" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <form class="modal-content" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="admin-modal-label">Manage Admins</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h6 class="mb-3">Add a New Admin</h6>
                    <label for="user-name" class="form-label">Full Name</label>
                    <input class="mb-3 form-control" name="user-name" id="user-name" required>
                    <label for="email" class="form-label">Bucknell Username</label>
                    <input class="mb-4 form-control" name="email" id="email" required>
                    <hr>
                    <h6 class="mt-4 mb-4">Delete Existing Admin</h6>
                    <ul class="list-group">
                        {% for admin in admins %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-10 my-auto">{{admin['name']}} <code class="text-secondary">{{admin['email']}}</code></div>
                                {% if current_user.email == admin['email'] %}
                                <div class="col-md-2"><button class="pb-1 btn btn-danger" disabled><span class="material-symbols-outlined">
                                    delete
                                </span></button></div>
                                {% else %}
                                <div class="col-md-2"><a href="{{ url_for('admin.delete_user', user_id = admin['id']) }}" class="pb-1 btn btn-danger"><span class="material-symbols-outlined">
                                    delete
                                </span></a></div>
                                {% endif %}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="submit" name="type" value="admin" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="reset-modal" tabindex="-1" aria-labelledby="reset-modal-lbl" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="reset-modal-lbl">Resetting Database</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to reset the database? This action <b>cannot</b> be undone. This will <b>permanently delete</b> all the orders, projects, admins (except the superuser), and project managers.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a class="btn btn-danger" href="{{ url_for('admin.reset_db') }}">I understand, reset the database</a>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block content %}
<h3 class="mb-2">{% block title %}Administrator{% endblock %}</h3>
<div class="mb-3">
    <div class="row" style="max-width: 30rem;">
        <div class="py-1 col-md-5 mt-1">
            <button class="w-100 mr-4 btn btn-primary" data-bs-toggle="modal" data-bs-target="#project-modal">+ New Project</button>
        </div>
        <div class="py-1 col-md-4 mt-1">
            <button class="w-100 btn btn-primary" data-bs-toggle="modal" data-bs-target="#user-modal">+ New PM</button>
        </div>
        <div class="py-1 col-md-3 mt-1">
            <button class="w-100 btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Export
            </button>
            <form method="post" class="dropdown-menu p-4">
                <div class="mb-3">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="all-check" name="all-project-check">
                        <label class="form-check-label" for="dropdownCheck2">
                        All Projects
                        </label>
                    </div>
                    <div id="project-check">
                        {% for project in projects %}
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="dropdownCheck2" name="{{ project['project_id'] }}-project-check">
                            <label class="form-check-label" for="dropdownCheck2">
                            {{ project["project_name"] }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <button type="submit" name="type" value="csv" class="w-100 btn btn-outline-success">Download</button>
            </form>
        </div>
    </div>
    {% if current_user.is_admin() and current_user.is_superuser() %}
    <div class="row" style="max-width: 30rem;">
        <div class="py-1 col-md-6 mt-1">
            <button class="w-100 mr-4 btn btn-secondary" data-bs-toggle="modal" data-bs-target="#admin-modal">Manage Admins <span class="badge text-bg-dark">super</span></button>
        </div>
        <div class="py-1 col-md-6 mt-1">
            <button class="w-100 mr-4 btn btn-danger" data-bs-toggle="modal" data-bs-target="#reset-modal">Reset DB <span class="badge text-bg-dark">super</span></button>
        </div>
    </div>
    {% endif %}
</div>
{% for project in projects %}
<div class="card mt-4" style="max-width: 30rem;">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-8">
                <h5 class="card-title">{{ project["project_name"] }}</h5>
                <p class="my-2">Total: {{ "$%.2f" | format(project["total"]) }}</p>
                {% if project["user_email"] == None %}
                    <button class="mb-2 disabled btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">PM: {{ get_username(project["user_email"]) }}</button>
                {% else %}
                    <button class="mb-2 btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">PM: {{ get_username(project["user_email"]) }}</button>
                    <ul class="dropdown-menu">
                        <li><h6 class="dropdown-header">{{ project["user_name"] }}</h6></li>
                        <!-- <li><a class="dropdown-item" href="{{ url_for('admin.delete_user', user_id = project['user_id']) }}">Delete</a></li> -->
                        <li><button data-bs-toggle="modal" data-bs-target="#del-user-modal-{{project['project_id']}}" class="dropdown-item">Delete</button></li>
                    </ul>  
                {% endif %}
            </div>
            <div class="col-sm-4">
                <a class="w-100 btn btn-primary" href="{{ url_for('project.index_admin', project_id = project['project_id']) }}">View</a>
                <!-- <a class="w-100 mt-2 btn btn-danger" href="{{ url_for('project.delete_project', project_id = project['project_id']) }}">Delete</a> -->
                <button data-bs-toggle="modal" data-bs-target="#del-project-modal-{{project['project_id']}}" class="w-100 mt-2 btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="del-project-modal-{{project['project_id']}}" tabindex="-1" aria-labelledby="del-project-modal-lbl" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="del-project-modal-lbl">Deleting Project</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete project <span class="fw-semibold badge text-bg-light">{{project["project_name"]}}</span>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a class="btn btn-danger" href="{{ url_for('project.delete_project', project_id = project['project_id']) }}">Delete</a>
        </div>
      </div>
    </div>
</div>
{% if project["user_email"] != None %}
<div class="modal fade" id="del-user-modal-{{project['project_id']}}" tabindex="-1" aria-labelledby="del-user-modal-lbl" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="del-user-modal-lbl">Deleting PM</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete project manager <span class="fw-semibold badge text-bg-light">{{project["user_name"]}}</span>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a class="btn btn-danger" href="{{ url_for('admin.delete_user', user_id = project['user_id']) }}">Delete</a>
        </div>
      </div>
    </div>
</div>
{% endif %}
{% endfor %}

<div class="modal fade" id="project-modal" tabindex="-1" aria-labelledby="project-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <form method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="project-modal-label">Adding a New Project</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="project-name" class="form-label">Project Name</label>
                    <input class="form-control" name="project-name" id="project-name" required>
                </div>
                <div class="modal-footer">
                    <button type="submit" name="type" value="project" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}